= render "shared/header"
- breadcrumb :mypage, @user
= render partial: 'shared/breadcrumbs'
.container
  .users-show.single-column
    %h2 #{@user.nickname} さんのマイページ
    .user-show__brands
      = link_to user_clips_path(@user) do
        .fas.fa-bookmark ブックマークした銘柄: #{@user.clips.count}
      = link_to user_feelings_path(@user) do
        .fas.fa-pen きろくした銘柄: #{@user.feelings.count}
    .users-show__edit
      = link_to "アカウント設定", edit_user_registration_path
    .users-show__logout
      = link_to "ログアウト", logout_path, method: :delete
= render 'shared/footer'

