= render "shared/header"
- breadcrumb :passwords_edit
= render partial: 'shared/breadcrumbs'
.container
  %h2 パスワードをお忘れですか？
  %p パスワードを再設定します。登録されている内容を入力してください。
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :email, "メールアドレス"
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .actions
      = f.submit "送信"
  = render "devise/shared/links"
