= render "shared/header"
.brewages-show
  #{@brand.name}
  #{@brewage.name}
  = image_tag ("#{@brewage.image}")
  #{@brewage.updated_at.to_s}
  登録者：#{@user.nickname}


  -# .brands-show__content__right__price 参考価格
  -# .brands-show__content__right__price-area
  -#   .brands-show__content__right__price__bottle 1瓶
  -#   .brands-show__content__right__price__bottle-average
  -# .brands-show__content__right__price-area
  -#   .brands-show__content__right__price__cup 1合
  -#   .brands-show__content__right__price__cup-average
