!!!
%html
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "お気に入りの日本酒を見つけよう！地域や銘柄による検索で旅行先・出張先でも楽しめます。おいしい日本酒を探したい！呑んだら記録に残したい！という、日本酒好きの願いを叶えます。", name: "description"}/
    %title Sakemo! - 「おいしい！」を残す日本酒好きのためのサイト
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
